.footer {
  background: #fafafa;
  /* border-top: 1px solid #eaeaea; */
  padding: calc(1.5 * 2rem) 2rem 2rem;
}

.footer__title {
  text-align: center;
}

.footer__socials {
  display: inline-block;
}
